<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.starview">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/fon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Starview">
        <activity
            android:name=".PhotoActivity"
            android:exported="false" />
        <activity
            android:name=".PersonActivity"
            android:exported="false" />
        <activity
            android:name=".ListStar"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>